<div style="display: flex; gap: 20px">
  <div style="max-width: 550px; overflow: hidden; position: relative">
    <div
      [ngDraggable]="true"
      [position]="chartPosition"
      [zIndex]="'10'"
      style="position: absolute; border-radius: 50%; overflow: hidden"
      (movingOffset)="onChartMoving($event)"
      (endOffset)="onMoveEnd($event)"
      [@sizeAnimation]="isBigChart ? 'big' : 'small'"
    >
      <canvas (dblclick)="toggleSize()" #chart [style.visibility]="chartVisibility"></canvas>
    </div>
    <canvas #canvas2 (click)="getMousePositionToShowChart($event)" style="position: absolute"> </canvas>
    <canvas #canvas> </canvas>
  </div>
  <!-- Modify color -->
  <div style="display: flex; flex-direction: column; gap: 10px; margin-bottom: 30px">
    <div style="display: flex; gap: 5px" *ngFor="let data of inputData; index as i">
      <button
        [disabled]="layerExists(data.colorName)"
        [style.background-color]="data.colorHex"
        style="cursor: pointer"
        (click)="drawLayer(i)"
      >
        {{ data.colorName }}
      </button>
      <button
        *ngIf="layerExists(data.colorName)"
        [style.background-color]="data.colorHex"
        style="cursor: pointer"
        (click)="removeLayer(data.colorName)"
      >
        X
      </button>
      <input
        *ngIf="layerExists(data.colorName)"
        type="range"
        [value]="getOpacity(data.colorName)"
        min="0"
        max="1"
        step="0.1"
        (input)="updateOpacity($event, data.colorName)"
      />
      <input
        *ngIf="layerExists(data.colorName)"
        type="color"
        [value]="data.colorHex"
        (change)="onColorChange($event, data.colorName)"
      />
    </div>
  </div>
</div>
