<main class="main">
  <div class="container">
    <div class="element">
      <p>Input image</p>
      <img
        class="img-wrapper"
        [src]="inputImgSrc"
        alt="input-img"
        (load)="onImageLoad()"
        crossorigin="anonymous"
        #imageRef
      />
    </div>
    <button class="btn-primary" (click)="applyLayer()">Apply layer</button>
    <div class="element">
      <p>Output image</p>
      <img
        *ngIf="!!imageToShow.src"
        class="img-wrapper"
        [src]="imageToShow.src"
        alt="ouput-img"
        crossorigin="anonymous"
      />
    </div>
    <div *ngIf="!!imageToShow.src" style="display: flex; gap: 10px">
      <button style="color: red" (click)="applyRed()">Red</button>
      <button style="color: green" (click)="applyGreen()">Green</button>
      <button style="color: blue" (click)="applyBlue()">Blue</button>
      <button style="color: yellow" (click)="applyYellow()">Yellow</button>
    </div>
  </div>
</main>
<router-outlet />
